body {
    background-color:rgb(103, 71, 87);
}
.red {
    color:red;
}
.backblack {
    background-color:black;
}
#unique {
    font-size: 200px;
}
p {
    font-family: "Lucida Console", "Courier New", monospace;
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
    margin: 50px;
    color: #ffb0b0;
}
h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color:#ffb0b0;
      border: 2px solid rgb(0, 0, 0);
      padding: 30px;
      margin: 50px;
}
.image-container {
display: flex;
justify-content: flex-start; /* Change to 'flex-start' for left alignment */
margin: 50px;
}